<div class="wrap">
                <a href="javascript:void(0)" class="small-screen-menu">MENU</a>
                <ul class="clearfix tabs-menue">
                    <li class="active"><a href="#/home">Home</a></li>  
                        <li class=''><a href="#/location">Locations</a></li>
                    <li class=''><a href="#/photos">Photos</a></li>
                                               <li class=''><a href="#/aboutus">About Us</a></li>
                                                   <li class=''><a href="#/homepage">Home Page</a></li>
                                                                          <li style='float:right'><a href="javascript:void(0);">Call us @ 76760001</a></li>
                </ul>
            </div>