  <ul ng-show="!flag">
                                              
                                                  <li><a href="#/signin">Sign In</a></li>
                        <li><a href="#/signup">Sign Up</a></li>
                        <li><a href="#/forgetPassword">Forgot Password?</a></li>
  </ul>
  
    <ul ng-show="flag" ng-controller="HomeCtrl"><li>Welcome {{username}}</li>
                        
                        <li><a ng-click="logout()">Logout</a></li><li><a href="#/dashboard">MyDashboard</a></li><a href="#/profile">My Profile</a></li>
  </ul>