   <div class="content">
            <div class="wrap">
                <div class="content single-frame">
    <div class="wrap">
        <div class="clearfix">
            <section class="form-layout sign-in" style='min-height: 200px'>
                 <h2>About Us</h2>
                <p>This is the about us page content. this is the about us page content. this is the about us page content.</p>

<p>this is the about us page content. this is the about us page content. this is the about us page content.</p>            </section>
        </div>
    </div>
</div>            </div>
        </div>
  <style>
    body {
    background: rgba(0, 0, 0, 0) url("../images/storeBackground-Image/back_2015-09-10-10-25_2.jpg") no-repeat fixed center center;
}
  </style>