  <div class="banner wrap clearfix">
   
        <div class="callbacks_container">
            <ul class="rslides" id="slider4">
                                        <li>
                            <img src="../images/sliderImages/building.jpg" alt="banner">
                                                        <p class="caption">Whole Brunch</p>
                                                    </li>
                                                <li>
                            <img src="../images/sliderImages/dog.jpg" alt="banner">
                                                        <p class="caption">Less Oily Food</p>
                                                    </li>
                                                <li>
                            <img src="../images/sliderImages/floor-kid.jpg" alt="banner">
                                                        <p class="caption">Time For Some Change</p>
                                                    </li>
                                                <li>
                            <img src="../images/sliderImages/girl.jpg" alt="banner">
                                                        <p class="caption">Healthy</p>
                                                    </li>
                                                <li>
                            <img src="../images/sliderImages/hill-climb.jpg" alt="banner">
                                                        <p class="caption">Good For Health</p>
                                                    </li>
                                    </ul>
        </div>
    </div>
  