<div class="content">
        <div class="wrap"><div class="pad-TP60 clearfix">
    <section class="form-layout delivery-form">
        <h2> <span>Store Location</span> </h2>
        <div id="map"></div>
    </section>
                    
    <section class="form-layout pickup-form">
        <h2> <span>Store Address</span> </h2>
        <div class="address">
            <address class="inbox">
                <h3>The Busy Bean</h3>
                <p> 21281 S. Western Ave

 <br> Torrance CA 90501 <br> 76760001</p>
            </address>
        </div>
    </section>
</div>